<!doctype html>
<html lang="en">
  <head>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Playfair+Display&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- App CSS -->
    <link rel="stylesheet" href="styles/homepage.css">
    <link rel="stylesheet" href="../public/styles/homepage.css">

    <style>
      body {
  background-color: #f4c8b0;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  font-family: 'Playfair Display', serif;
}
.logo{
  font-family: 'Cinzel Decorative', cursive;
  color: white;
  margin-top: 1rem;
}
#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.text-with-description {
  max-width: 200px;
}
.img {
  width:200px;
  height:300px;
  object-fit: cover;
}
.footer-info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;


}
.res-location {
  flex-shrink: 3;
}
.comment-nav {

  background: linear-gradient( rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.301) ), url('https://images.unsplash.com/photo-1554118811-1e0d58224f24?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1030&q=80');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
}
article {
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  margin-left: 40px;


}
.test {
  display: flex;
  width: 90%;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.section2 {
  background-color: #301e14;
  background-image: url(http://www.transparenttextures.com/patterns/otis-redding.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: white    ;
}
.section3 {
  background-color: #0c1820;
  background-image: url(http://www.transparenttextures.com/patterns/otis-redding.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: white    ;
}
footer {
  background-color: #0c1820;
  background-image: url(http://www.transparenttextures.com/patterns/otis-redding.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: white    ;
}
.text {
  margin-top: 5rem;
  margin-left: 4rem;
}
.description {
  margin-top: 0px;
  margin-bottom: 100px;
}
.section3 {
  display: flex;

}
.transparent-text {
  margin-top: 5em;
}
h3 {
  margin-top: 3em;
}
.menu {
  margin-top: 5rem;
  margin-left: 4rem;
}

    </style>

    <title>Cafe Name</title>
  </head>
  <body>
    <main>
        <div class="comment-nav">

            <nav id="nav-bar">
                <span>
                    <h3 class="logo">
                        CAFE NAME
                    </h3>
                </span>
                <span class="nav-link">
                    <a>HOME</a>
                    <a>MENU</a>
                    <a>BRANCH</a>
                    <a>ABOUT US</a>
                    <button>Login</button>
                </span>
            </nav>

            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <article>
                        <h2>"They served the best food in <br>Jakarta! gonna visit again"</h2>
                    </article>
                  </div>
                  <div class="carousel-item" data-bs-interval="12000">
                    <article>
                        <h2>"Best cafe I ever went to!<br>Will go again"</h2>
                    </article>
                  </div>
                  <div class="carousel-item" data-bs-interval="15000">
                    <article>
                        <h2>"Best cafe I ever went to!<br>Will go again"</h2>
                    </article>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>

          <span class="section2">

            <h2 class="text">OUR BEST MENU</h2>
            <p class="text description">Selected from a perfect ingredients, and made by an<br> experiened chef</p>
            <a class="menu" href="#">Explore All Menu</a>

              <div id="carouselExampleInterval2" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="100000">

                    <article class="test">

                        <div class="text-with-description">
                            <img class="img" src="https://images.unsplash.com/photo-1619602715098-1ea02d665224?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
                            <p>dfhs hg dshoi oenoa ugnes</p>
                        </div>
                        <div class="text-with-description">
                            <img class="img" src="https://images.unsplash.com/photo-1609590981063-d495e2914ce4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80" alt="">
                            <p>dfhs hg dshoi oenoa ugnes</p>
                        </div>
                        <div class="text-with-description">
                            <img class="img" src="https://images.unsplash.com/photo-1525351484163-7529414344d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80" alt="">
                            <p>ndgs dsgigudsng oundgn usndu undv</p>
                        </div>
                        <div class="text-with-description">
                            <img class="img" src="https://images.unsplash.com/photo-1557142046-c704a3adf364?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
                            <p>ndgs dsgigudsng oundgn usndu undv</p>
                        </div>
                    </article>
                  </div>
                  <div class="carousel-item">
                    <article class="test">

                        <div class="text-with-description">
                            <img class="img" src="https://images.unsplash.com/photo-1613697193450-23f766dbaa73?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
                            <p>dfhs hg dshoi oenoa ugnes</p>
                        </div>
                        <div class="text-with-description">
                            <img class="img" src="https://images.unsplash.com/photo-1561817245-7af134029cea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
                            <p>dfhs hg dshoi oenoa ugnes</p>
                        </div>
                        <div class="text-with-description">
                            <img class="img" src="https://images.unsplash.com/photo-1598515502237-ee975b5a6e03?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2133&q=80" alt="">
                            <p>ndgs dsgigudsng oundgn usndu undv</p>
                        </div>
                        <div class="text-with-description">
                            <img class="img" src="https://images.unsplash.com/photo-1529942458412-eda69f76291d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80" alt="">
                            <p>ndgs dsgigudsng oundgn usndu undv</p>
                        </div>
                    </article>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval2" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
          </span>
          <span class="section3">

            <h2 class="text">EXCLUSIVE EXPERIENCE</h2>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dapibus malesuada nisi eu tempus. Integer sed aliquam lorem. Suspendisse tempus diam nec risus vulputate tempor. Maecenas mollis orci imperdiet sollicitudin blandit. Mauris in condimentum sapien, et laoreet augue. Nullam justo purus, posuere non laoreet et, imperdiet posuere ante. Proin nec viverra ipsum. In hac habitasse platea dictumst. Nam non diam nec metus fermentum faucibus eget at felis. Vestibulum neque felis, fringilla a ultrices vel, imperdiet in ipsum. Praesent sagittis ipsum felis, et commodo nulla cursus sit amet.</p>

              <div class="info-container">
                  <div class="text-with-description">
                      <img class="img" src="https://images.unsplash.com/photo-1511920170033-f8396924c348?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
                  </div>
                </div>

              </div>
          </span>

          <footer class="footer-info">

              <div class="res-location">
                  <h3>CAFE NAME</h3>
                  <h5>Location</h5>
                  <p>Jl. M.H. Thamrin, Gondangdia,<br>
                    Kec. Menteng, Kota Jakarta <br>
                    Pusat, Daeraj Khusus Ibukota<br>
                    Jakarta 10350<br>
                    +6281247299753<br>
                    resto@restaurant.com
                  </p>
              </div>
              <div>
                <p class="transparent-text">Menu</p>
                <p>Breakfast<br>
                  Lunch<br>
                  Dinner<br>
                  Vegan<br>
                  Drink
                </p>
            </div>
            <div>
                <p class="transparent-text">Branch</p>
                <p>North Jakarta<br>
                  Monas<br>
                  Mall Paigiari<br>
                  South Jakarta
                </p>
            </div>
            <div>
                <p class="transparent-text">Branch</p>
                <p>North Jakarta<br>
                  Monas<br>
                  Mall Paigiari<br>
                  South Jakarta
                </p>
            </div>
          </footer>
    </main>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
