<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />
  </head>

  <body>
    <div class  = "authentication-sidebar">
      <a href = "#"> <img class = 'logo' src = "/images/example_cafe.png"></a>
      <div class = "break-time">
        <p class = "break-time-title">Life without coffee is like something without something … sorry, I haven’t had any coffee yet.</p>
        <img class = "people-icon" src = "https://images.all-free-download.com/images/graphicthumb/break_time_drawing_people_drink_coffee_icon_6835776.jpg">
      </div>
    </div>
    <form action="" method="get" class="entire-form">
      <h2 class = login-title>Sign in to Example Cafe</h2>
      <div class="login-form">
        <label for="email">Enter your email: </label>
        <input type="email" name="email" id="email" required>
      </div>
      <div class="login-form">
        <label for="password">Enter your password: </label>
        <input type="password" name="password" id="password required>
      </div>
      <div class="login-form">
        <input type="submit" class = "input-button" value="Login">
      </div>
      <p class = "account-signup">Don't have an account? Sign up <a href = '/register'> here </a></p>
    </form>
  </body>
</html>


