<!DOCTYPE html>
<html>
<head>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Playfair+Display&display=swap" rel="stylesheet">
<title>Page Title</title>
<link rel="stylesheet" href="styles/order.css">



</head>
<body>
    <main>
        <div class="title">
            <h1>Menu</h1>
        </div>

        <span>
            <div class="item ">
                <p class="shop-item-title">Food1</p>
                <img class="img shop-item-image" src="https://images.unsplash.com/photo-1619602715098-1ea02d665224?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
                <article>
                    <p class="shop-item-price">14.99</p>
                    <button class="shop-item-button">ADD TO CART</button>
                </article>

            </div>
            <div class="item">
                <p class="shop-item-title">Food2</p>
                <img class="img shop-item-image" src="https://images.unsplash.com/photo-1619602715098-1ea02d665224?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
                <article>
                    <p class="shop-item-price">9.99</p>
                    <button class="shop-item-button">ADD TO CART</button>
                </article>

            </div>
            <div class="item">
                <p class="shop-item-title">Food3</p>
                <img class="img shop-item-image" src="https://images.unsplash.com/photo-1619602715098-1ea02d665224?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
                <article>
                    <p class="shop-item-price">12.99</p>
                    <button class="shop-item-button">ADD TO CART</button>
                </article>

            </div>
            <div class="item">
                <p class="shop-item-title">Food4</p>
                <img class="img shop-item-image" src="https://images.unsplash.com/photo-1619602715098-1ea02d665224?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">
                <article>
                    <p class="shop-item-price">4.99</p>
                    <button class="shop-item-button">ADD TO CART</button>
                </article>

            </div>
        </span>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">

            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
        </section>

    </main>

    <script src="../public/scripts/orderpage.js"></script>

</body>
</html>
