<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/register.css" type="text/css" />
  </head>

  <body>
    <div class  = "register-sidebar">
      <a href = "#"> <img class = 'logo' src = "/images/example_cafe.png"></a>
      <div class = "side-bar">
        <p class = "side-bar-title">What goes best with a cup of coffee? Another cup.</p>
        <img class = "side-bar-icon" src = "/images/Serving-Coffee.jpeg">
      </div>
    </div>
    <form action="" method="get" class="entire-form">
      <h2 class = login-title>Sign up to Example Cafe</h2>
      <div class="login-form">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
      </div>
      <div class="login-form">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
      </div>
      <div class="login-form">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
      </div>
      <div class="login-form">
        <input type="submit" class = "input-button" value="Create Account">
      </div>
      <p class = "account-signup">Already have an account? Sign in <a href = /login> here </a></p>
    </form>
  </body>
</html>


