body {
  background-color: #f4c8b0;
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.logo{
  font-family: 'Cinzel Decorative', cursive;
  color: white;
  margin-top: 1rem;
}
#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.text-with-description {
  max-width: 200px;
}
.img {
  width:200px;
  height:300px;
  object-fit: cover;
}
.footer-info {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;


}
.res-location {
  flex-shrink: 3;
}
.comment-nav {

  background: linear-gradient( rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.301) ), url('https://images.unsplash.com/photo-1554118811-1e0d58224f24?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1030&q=80');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
}
article {
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  margin-left: 40px;


}
.test {
  display: flex;
  width: 90%;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.section2 {
  background-color: #301e14;
  background-image: url(http://www.transparenttextures.com/patterns/otis-redding.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: white    ;
}
.section3 {
  background-color: #0c1820;
  background-image: url(http://www.transparenttextures.com/patterns/otis-redding.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: white    ;
}
footer {
  background-color: #0c1820;
  background-image: url(http://www.transparenttextures.com/patterns/otis-redding.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: white    ;
}
.text {
  margin-top: 5rem;
  margin-left: 4rem;
}
.description {
  margin-top: 0px;
  margin-bottom: 100px;
}
.section3 {
  display: flex;

}
.transparent-text {
  margin-top: 5em;
}
h3 {
  margin-top: 3em;
}
.menu {
  margin-top: 5rem;
  margin-left: 4rem;
}
.sidebar_column {
  background-color: rgb(245, 222, 179);
}


button {
  width: 25%;
  height:auto;
}

.user-input {
 width: 75%;

}


.register{
  background-color: rgb(245, 222, 179);
}


@media screen and (min-width: 1600px) {
  article {
      height: 1000px;
      width: 100%;
      display: flex;
      align-items: center;
      color: white;
      margin-left: 40px;


  }
}
