body {
  img {
    width:10%;
    border-radius: 50%;
  }
  font-family: montserrat, sans-serif;
}
.sidebar_column {
  background-color: rgb(245, 222, 179);
}
#sidebar{

  img {
    width: 100%;
    height: 400px;
  }
  h6 {
    font-size: 2em;
  }
}


button {
  width: 25%;
  height:auto;
}

.user-input {
 width: 75%;

}

.social-media-logos a  {
a:hover {
  background-color: yellow;
}
}

.register{
  background-color: rgb(245, 222, 179);
}


